/node_modules
/config/admin.json
/config/theme/*.json
/public/hot
/public/storage
/public/env.example.js
/public/favicon.ico
/public/assets/admin/custom.css
/storage/*.key
.env
.env.*
!.env.example
!.env.*.example
.idea
.vscode
.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
docker-compose.yml
.DS_Store
public/clients/*
go-api/bin/
go-api/run/
.legacy-config-backup.*
